@model IEnumerable<IndiceCuentaViewModel>

@{
    ViewData["Title"] = "Cuentas";
    string formatBalance(decimal balance)
    {
        return Math.Abs(balance).ToString("N");    
    }
    string ObtenerClaseBalance(decimal balance)
    {
        return balance > 0 ? "activo" : "pasivo";     
    }
}

<h1>Cuentas</h1>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo
</a>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Activos</strong>
        </div>
        <div class="activo">
            @formatBalance(Model.Where(x => x.Balance > 0 ).Sum(x => x.Balance))
        </div>
    </div>
    <div>
        <div>
            <strong>Pasivos</strong>
        </div>
        <div class="pasivo">
            @formatBalance(Model.Where(x => x.Balance < 0 ).Sum(x => x.Balance))
        </div>
    </div>
    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div>
            @formatBalance(Model.Sum(x=>x.Balance))
        </div>
    </div>
</div>

<div class="accordion acordeon-cuentas">
    @foreach (var tipoCuenta in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="cabeceraUno">
                @{
                    var id = tipoCuenta.TipoCuenta.Replace(" ", "");
                    var dataBSTarget = "#" + id;
                    var claseTipoCuenta = ObtenerClaseBalance(tipoCuenta.Balance);
                }
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@dataBSTarget">
                    <span class="me-3">
                        <span><strong>@tipoCuenta.TipoCuenta</strong></span>
                        <span class="@claseTipoCuenta">@formatBalance(tipoCuenta.Balance)</span>
                    </span>
                </button>
            </h2>
            <div id="@id" class="accordion-collapse collaspse show">
                <div>
                    <ul class="list-group">
                        @foreach(var cuenta in tipoCuenta.Cuentas)
                        {
                            var claseCuenta = ObtenerClaseBalance(cuenta.Balance);
                            <li class="list-group-item">
                                <span><strong>@cuenta.Nombre</strong>
                                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@cuenta.Id">
                                        <i class="bi-pencil-fill"></i>
                                    </a>
                                    <a class="btn btn-danger">
                                        <i class="bi-trash-fill"></i>
                                    </a>
                                </span>
                                <span class="@claseCuenta">@formatBalance(cuenta.Balance)</span>
                            </li>    
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>